# Configuration file

~CONFIG_VERSION: 0.1

blood {
    B:"Play a sound when you click on an entity"=false
    B:"Spawn blood particles when you click on an entity"=false
}


fovmodifier {
    D:"Bow FOV modifier"=1.0
    D:"Slowness FOV modifier"=1.0
    D:"Speed FOV modifier"=1.0
    D:"Sprint FOV modifier"=1.0
}


hitboxes {
    B:"Do not render hitboxes from entites that are close to you"=true
    B:"Hide blue eyesight line when showing hitboxes"=true
    I:"Hide every hitbox closer than this distance"=12
    B:"Hide red eye height line when showing hitboxes"=true
    B:"Render hitbox red if you're aiming at the entity"=true
}


hud {
    B:"Enable clear chat (improves fps)"=true
    B:"Show a warning if your armor has low durability"=false
    B:"Show a warning once your memory reaches 90%"=false
    B:"Show attack damage of currently held item above hotbar"=true
    B:"Show distance to the block your crosshair is pointing at in F3"=false
    B:"Show enchantemnts of currently held item above hotbar"=true
    B:"Show the amount of arrows you have when you hold a bow"=false
    B:"Show the amount of the currently held item you have in your whole inventory"=true
}


hudf4 {
    B:"Draw a rectangle behind the shown text"=false
    B:"Enable by default"=true
    B:"Show distance to the block your crosshair is pointing at"=true
    B:"Show info about the current server"=true
}


inventory {
    B:"Do not move inventory when getting applied a potion / status effect"=true
    B:"Show current projectile protection when opening Inventory"=true
    B:"Show current protection when opening Inventory"=true
}


misc {
    I:"Change the chat length (Vanilla: 100)"=500
    B:"Disable slow mouse movements on Optifine Zoom"=true
    B:"Enable chat timestamps"=false
    B:"Enable custom chat tabs"=false
    B:"Hide boss bar"=true
    B:"Make tab list toggleable"=true
    B:"Make tab transparent"=true
    B:"Mojang Status Notifier"=false
    B:"Mute portal sounds"=true
    B:"Mute slime sounds"=true
    B:"Mute thunder sounds"=false
    B:"Mute wither sounds"=false
    I:"Players per coloumn in tab (Vanilla: 20)"=25
    B:"Render custom chat tabs when chat is not open"=false
    B:"Show ping of other players in tab"=false
    D:"Slowness FOV modifier"=1.0
    D:"Speed FOV modifier"=1.0
    D:"Sprint FOV modifier"=1.0
    I:"The amount of players that will show in tab (Vanilla: 80)"=100
}


profiles {
    I:"FOV Profile #1"=70
    I:"FOV Profile #2"=90
    I:"FOV Profile #3"=110
    I:"Sensitivity Profile #1"=100
    I:"Sensitivity Profile #2"=120
    I:"Sensitivity Profile #3"=140
    S:"Volume Profile #1 "master-music-noteblocks-weather-block-hostile-friendly-players-ambient"=100-100-100-100-100-100-100-100-100
    S:"Volume Profile #1 "master-music-noteblocks-weather-block-hostile-friendly-players-ambient""=100-100-100-100-100-100-100-100-100
    S:"Volume Profile #2"=50-100-100-100-100-100-100-100-100
    S:"Volume Profile #3"=20-0-10-10-100-100-100-100-100
}


