# Configuration file

auto-update {
    B:alwaysAutoUpdate=true
}


general {
    B:enabled=true
    B:saveSpotifyToken=true
    B:showPlayer=false
}


levelhead {
    B:enabled=true
}


player {
    B:announceTracks=true
    B:automaticColorSelection=true
    B:modernPlayer=true
    D:playerX=800.0
    D:playerY=-1.0
    D:playerZoom=1.2042253315448763
    S:progressStyle=BAR_AND_NUMBERS_NEW
    B:showAlbumArt=true
    B:showInPause=true
    B:useBrowserExtension=true
}


spotify {
    S:refreshToken=AQAyE4ZzD4Mt28MFkKxy-xeT_aTlqhtiSKCaf95ywUKDN8QxHwackT60A64VguHmyYylevJwO4b1YEInG9GmZ8ZntAhvf2zZxxO7p7nISPkJafsrvyXv5F1DcnHQs72B50g
}


theme {
    S:themeFile=C:\Users\Yukii\AppData\Roaming\.minecraft\mediamod\themes\default.toml
}


