# Configuration file

flying {
    B:chroma=true
    I:color=-11416535
    S:text=[Flying]
}


"flying (boost)" {
    B:chroma=true
    I:color=-11416535
    S:text=[Flying (x{AMOUNT} boost)]
}


global {
    B:enabled=true
    B:"fly boost"=true
    D:"fly boost amount"=10.0
    B:"show text"=true
    B:"toggle sneak"=true
    B:"toggle sprint"=true
    I:"x position"=2
    I:"y position"=529
}


riding {
    B:chroma=true
    I:color=-11416535
    S:text=[Riding]
}


"sneaking toggled" {
    B:chroma=true
    I:color=-11416535
    S:text=[Sneaking (toggled)]
}


"sprinting toggled" {
    B:chroma=true
    I:color=-11416535
    S:text=[Sprinting (toggled)]
}


"vanilla sneaking" {
    B:chroma=true
    I:color=-11416535
    S:text=[Sneaking (vanilla)]
}


"vanilla sprinting" {
    B:chroma=true
    I:color=-11416535
    S:text=[Sprinting (vanilla)]
}


